/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-feb-2015, 14.24.03
    Author     : enricobenini
*/

/*Layout*/

html {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

body {
    width: 940px;
    margin: 0 auto;
    font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
}

/*HTML 5 specific*/

header,section,article,aside,footer{
    display: block;
}

/* HTML 5 Sections*/

header  h1{
    margin: 0;
    font: 32pt Helvetica,"Helvetica neue", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: graytext;
    padding-top: 30px ;
    text-shadow: 1px 1px 2px #fff; 
}


/* NavBar: navbarMenu class */
#navbarMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: .6em;
    /*to emulate a normal block element while not collapsing due to float left li elements*/
    display: inline-block;
    width: 100%;
    background-color: #535353;
}
#navbarMenu li{
    float: left;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
    height: 3em;
    line-height: 3em;
}
#navbarMenu a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 1.2em;
}
#navbarMenu a:hover{
    color: #535353;
}
#navbarMenu li:hover{
    background-color: #fff;
}
#WelcomeUser {  //welcome user in the navbar
    float: right;
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding-right: 1em;
    padding-left: 1em;
    text-align: right;
}

/* Welcome Message in index.jsp*/
#WelcomeMessage h3 {
    text-align: center;
}

/* SensorControlPanel and actuator jsps. */
.ManageTable {
    width: 100%;
}
.ManageTable td {
    text-align: center;
}
.ActuatorValue {
    display: inline;
    margin-left: .2em;
}
#operationCaption{
    display: inline-block;
    width: 70%;
    margin-left: 12%;
}
#addSensorButtonID{
    display: inline-block;
    float: right;
}

/* UsersAuth jsp*/
#usersTable{
    width: 35%;
    float: left;
}
#usersTable thead{
    text-align: center;
}
#usersTable tbody{
    border-width:3px;	
    border-right-style:ridge;
}
#sensorsTable{
    width: 64%;
    float: right;
}
#sensorsTable thead{
    text-align: center;
}

/* Login and Registation jsps */
.form{
    font: 20pt Helvetica,"Helvetica neue", Arial, sans-serif;
    text-align: center;
}
.error{
    color: red;
}