/RMServer/nbproject/private/
/RMService/nbproject/private/
/RMService/dist/
/RMService/build/
/RemoteSensor/nbproject/private/
/RemoteSensor/build/
/ASWLibrary/nbproject/private/
/ASWSensor/nbproject/private/
/ASWLibrary/build/
/ASWLibrary/dist/
/ASWSensor/build/
/ASW Sensor Server/nbproject/private/
/ASW Sensor Server/dist/
/ASW Sensor Server/build/
/ASW Sensors Server/nbproject/private/
/ASW Sensors Server/build/
/SensorsControlPanel/dist/
/SensorsControlPanel/nbproject/private/
/ASW Sensors Server/dist/
SensorsControlPanel/build
built-jar.properties
/Test/nbproject/private/
/Test/build/
/Lib1/nbproject/private/
/Applet1/nbproject/private/
/WebApplication/nbproject/private/
/Lib1/build/
/Applet1/build/
/Lib1/dist/
/WebApplication/build/
/Applet1/dist/
/WebApplication/dist/