/RMServer/nbproject/private/
/RMService/nbproject/private/
/RMService/dist/
/RMService/build/
/RemoteSensor/nbproject/private/
/RemoteSensor/build/
/ASWLibrary/nbproject/private/
/ASWSensor/nbproject/private/
/ASWLibrary/build/
/ASWLibrary/dist/
/ASWSensor/build/
/ASW Sensor Server/nbproject/private/
/ASW Sensor Server/dist/
/ASW Sensor Server/build/
/ASW Sensors Server/nbproject/private/
/ASW Sensors Server/build/
/SensorsControlPanel/build/
/SensorsControlPanel/dist/
/SensorsControlPanel/nbproject/private/
/ASW Sensors Server/dist/